<p>
<%= link_to 'Portugues', root_path(locale:'pt-BR')  %>
</p>

<p>
<%= link_to 'English',root_path(locale:'en')  %>
</p>

<h1>Seja Bem-Vindo</h1>

<p> O idioma usado nessa aplicação é: <strong>  <%= t('actual_locale') %></strong> </p>

<p><strong> Data:</strong><%=  l(Date.today) %></p>

<p><%= t('hello') %></p>

<%= nome_aplicacao %>

<%= render "menu" %>

<p> Voce está em ambiente de <strong> <%= ambiente_rails%><strong></p>
